.searchbar{

    margin-top: 200px;
    margin-left:450px;
    position: relative;
}

.bg {

  background-image: url("https://images.unsplash.com/photo-1506434304575-afbb92660c28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80");


  height: auto;
  width: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
}
.headingStyle {

    color: crimson;
    font-family: "Comic Sans MS";


}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#2d2d2d;
  color: white;
  text-align: center;